.info-list{
  @include flexes(space-between,center);
  }
.info-item__img{
  max-width: 540px;
  margin-left: -50px;
}
.info-item__button{
  padding: 0 26px;
  @include text(#1E313B,16px,400,24px);
  background: rgba(255, 193, 71, 0.6);
border: 2px solid #FFC147;
border-radius: 100px;
margin-top: 120px;
}
.info-item__h2{
  @include text( #1E313B,30px,700,35px);
  margin-top: 29px;
}
.info-item__h2 span{
color: #FFC147;
}
.info-item__p{
  @include text(#1E313B,14px,400,24px);
  margin-top: 18px;
}
.info-item__box{
  display: flex;
  margin-top: 48px;
}
.info-item__box2{
  display: flex;
  margin-left: 70px;
}
.img_box{
  width: 24px;
}
.info_box_box{
  margin-left: 16px;
}
.info_box_p{
  @include text(#FFC147,18px,400,24px);
}
.info_box_lorem{
  @include text(#1E313B,12px,400,21px);
  margin-top: 12px;
}
@media only screen and(max-width:1082px) {
  .info-list{
    @include flexes(space-between,center);
    }
  .info-item__img{
    max-width: 500px;
    margin-left: -45px;
  }
  .info-item__button{
    padding: 0 26px;
    @include text(#1E313B,14px,400,22px);
    background: rgba(255, 193, 71, 0.6);
  border: 2px solid #FFC147;
  border-radius: 100px;
  margin-top: 100px;
  }
  .info-item__h2{
    @include text( #1E313B,30px,700,35px);
    margin-top: 25px;
  }
  .info-item__h2 span{
  color: #FFC147;
  }
  .info-item__p{
    @include text(#1E313B,12px,400,22px);
    margin-top: 12px;
  }
  .info-item__box{
    display: flex;
    margin-top: 40px;
  }
  .info-item__box2{
    display: flex;
    margin-left: 60px;
  }
  .img_box{
    width: 22px;
  }
  .info_box_box{
    margin-left: 14px;
  }
  .info_box_p{
    @include text(#FFC147,14px,400,24px);
  }
  .info_box_lorem{
    @include text(#1E313B,12px,400,21px);
    margin-top: 12px;
  }
}
@media only screen and(max-width:1005px) {
  .info-list{
    @include flexes(space-between,center);
    }
  .info-item__img{
    max-width: 450px;
    margin-left: -45px;
  }
  .info-item__button{
    padding: 0 26px;
    @include text(#1E313B,10px,400,20px);
    background: rgba(255, 193, 71, 0.6);
  border: 2px solid #FFC147;
  border-radius: 100px;
  margin-top: 90px;
  }
  .info-item__h2{
    @include text( #1E313B,25px,700,35px);
    margin-top: 22px;
  }
  .info-item__h2 span{
  color: #FFC147;
  }
  .info-item__p{
    @include text(#1E313B,10px,400,22px);
    margin-top: 10px;
  }
  .info-item__box{
    display: flex;
    margin-top: 30px;
  }
  .info-item__box2{
    display: flex;
    margin-left: 55px;
  }
  .img_box{
    width: 20px;
  }
  .info_box_box{
    margin-left: 12px;
  }
  .info_box_p{
    @include text(#FFC147,12px,400,22px);
  }
  .info_box_lorem{
    @include text(#1E313B,10px,400,21px);
    margin-top: 10px;
  }
}
@media only screen and(max-width:870px) {
  .info-list{
    @include flexes(space-between,center);
    }
  .info-item__img{
    max-width: 400px;
    margin-left: -43px;
  }
  .info-item__button{
    padding: 0 26px;
    @include text(#1E313B,8px,350,15px);
    background: rgba(255, 193, 71, 0.6);
  border: 2px solid #FFC147;
  border-radius: 100px;
  margin-top: 80px;
  }
  .info-item__h2{
    @include text( #1E313B,20px,700,25px);
    margin-top: 18px;
  }
  .info-item__h2 span{
  color: #FFC147;
  }
  .info-item__p{
    @include text(#1E313B,8px,400,17px);
    margin-top: 6px;
  }
  .info-item__box{
    display: flex;
    margin-top: 25px;
  }
  .info-item__box2{
    display: flex;
    margin-left: 50px;
  }
  .img_box{
    width: 17px;
  }
  .info_box_box{
    margin-left: 10px;
  }
  .info_box_p{
    @include text(#FFC147,10px,400,15px);
  }
  .info_box_lorem{
    @include text(#1E313B,8px,400,21px);
    margin-top: 8px;
  }
}
@media only screen and(max-width:735px) {
  .info-list{
    @include flexes(space-between,center);
    }
  .info-item__img{
    max-width: 350px;
    margin-left: -33px;
  }
  .info-item__button{
    padding: 0 26px;
    @include text(#1E313B,7px,350,12px);
    background: rgba(255, 193, 71, 0.6);
  border: 2px solid #FFC147;
  border-radius: 100px;
  margin-top: 70px;
  }
  .info-item__h2{
    @include text( #1E313B,18px,700,16px);
    margin-top: 15px;
  }
  .info-item__h2 span{
  color: #FFC147;
  }
  .info-item__p{
    @include text(#1E313B,9px,400,14px);
    margin-top: 4px;
  }
  .info-item__box{
    display: flex;
    margin-top: 21px;
  }
  .info-item__box2{
    display: flex;
    margin-left: 45px;
  }
  .img_box{
    width: 15px;
  }
  .info_box_box{
    margin-left: 20px;
  }
  .info_box_p{
    @include text(#FFC147,8px,400,11px);
  }
  .info_box_lorem{
    @include text(#1E313B,6px,400,13px);
    margin-top: 6px;
  }
}
@media only screen and(max-width:660px) {
  .info-list{
    @include flexes(space-between,center);
    }
  .info-item__img{
    max-width: 300px;
    margin-left: -30px;
  }
  .info-item__button{
    padding: 0 26px;
    @include text(#1E313B,7px,350,10px);
    background: rgba(255, 193, 71, 0.6);
  border: 2px solid #FFC147;
  border-radius: 100px;
  margin-top: 60px;
  }
  .info-item__h2{
    @include text( #1E313B,15px,700,13px);
    margin-top: 12px;
  }
  .info-item__h2 span{
  color: #FFC147;
  }
  .info-item__p{
    @include text(#1E313B,7px,400,12px);
    margin-top: 4px;
  }
  .info-item__box{
    display: flex;
    margin-top: 18px;
  }
  .info-item__box2{
    display: flex;
    margin-left: 42px;
  }
  .img_box{
    width: 12px;
  }
  .info_box_box{
    margin-left: 20px;
  }
  .info_box_p{
    @include text(#FFC147,7px,400,8px);
  }
  .info_box_lorem{
    @include text(#1E313B,6px,400,10px);
    margin-top: 6px;
  }
}
@media only screen and(max-width:600px) {
  .info-list{
    flex-direction: column;
    justify-content: center;
    }
    .img_box{
      width: 5px;
    }
    .info_box_box{
      margin-left: 20px;
    }
}
@media only screen and(max-width:380px) {
  .img_box--info{
    width:15px;
  }
}
